html,body {
    font-family: "arial","sans-serif";
    height: 100%;
    width: 100%;
    padding:0px;
    margin:0px;
}    

#header {
    width:100%;
    background-color:black;
    color:white;
    text-align:center;
    padding:0px;
    margin:0px;
}
#main {
    background-color:#eeeeee;
    width:70%;
    height:90%;
    float:left;
    padding:0;
    margin:0;
    overflow: hidden;
}
#controls {
    background-color: #cccccc;
    width:30%;
    height:90%;
    float:left;
    padding:0px;
    margin: 0px;
}
#sliders {
    height:60%;
    padding:0;
    margin:0;
}
.tooltip {
    /*position: relative;
    display: inline-block;*/
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: none;
}
.slider {
    width: 33%;
    height: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
}
.sliderCanvas {
    /*width: 60%;*/
    margin: 0% 20% 0% 20%;
}
.slider p {
    font-weight: bold;
    text-align: center;
    margin: 10% 0% 0% 0%;
}
#advanced {
    font-size: 1em;
    clear: both;
}
#autoFiscal {
    margin: 0% 5% 5% 5%;
}
#advanced button {
    margin-left: 5%;
    float: left;
}
#advanced input {
    font-size: 0.8em;
    width: 2.4em;
}
#advanced table {
    margin-left: 5%;
    float: left;
}
#tables {
    display: none;
    font-size: 1.2em;
    margin: 5%;
}
#tables td {
    text-align: right;
    padding: 0.2em 0.8em 0.2em 0.8em;
}
#myCanvas {
    padding: 0px;
    margin: 0px;
}
#help {
    display: none;
    margin: 5%;
}
#footer {
    width: 100%;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:0px;          
}
.my-navbar{
    background-color:black;
    width: 100%;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden
}
.my-navbar li{
    float:left
}
.my-navbar li a{
    display:block;
    color: white;
    padding:8px 16px;
    text-decoration:none
}
.my-navbar li a:hover{
    color:#000;
    background-color:#ccc
}
.my-red {
    background-color: red;
}